<!DOCTYPE html> 
<html> 
<head> 
	<title>Wikipedia Search</title> 
</head> 
<body> 
	<form method="post"> 
	<input type="text" name="search"> 
	<select name="options">
		<option value="Art">Art</option>
        <option value="Sport">Sport</option>
        <option value="Programming">Programming</option>
        <option value="Programming">blabalabla</option>
        <option value="Programming">Programming</option>
        <option value="Programming">Programming</option>
        <option value="Programming">Programming</option>
        <option value="Programming">Programming</option>
        <option value="Programming">Programming</option>
        <option value="Programming">Programming</option>
	</select>
	<br> 
	<button type="submit">Search</button> 
	</form> 
</body> 
</html>
